{
  "presets": [
    [
      "react"
    ],
    [
      "env", {
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-class-properties",
    "transform-es2015-modules-commonjs"
  ],
  "ignore": [
    "*/node_modules,*/"
  ]
}