:root {
  --font-color: white;
  --main-color: rgba(24, 61, 93,.8);
  --shadow-color: rgba(0,155,222,.5);
}

.ol-control,
.ol-control button,
.c4g-permalink-popup button {
  color: var(--font-color);
  background-color: var(--main-color);
  background-image: none;
}

.ol-control:hover,
.ol-control button:focus,
.ol-control button:hover,
.c4g-permalink-popup button:focus,
.c4g-permalink-popup button:hover,
.c4g-permalink.c4g-open button,
.c4g-portside-control.c4g-open button {
  background-color: var(--shadow-color);
}

.c4g-portside-wrapper,
.c4g-starboard-wrapper {
  background-color: var(--main-color);
}


/*
 *  Tooltips
 */
.ol-control button[title]:after {
  display: none;
  //text-shadow: 0 0 2px var(--shadow-color);
}
.ol-control button[title]:focus:after,
.ol-control button[title]:hover:after {
  display: none;
  background: var(--font-color);
  color: inherit;
  border: 3px solid transparent;
}

/*
 *  Spinner
 */
.c4g-spinner span {
  color: rgba(0,60,136,.7);
  //text-shadow: 0 0 2px var(--font-color), 0 0 5px var(--main-color);
}


/*
 *  Control-container-bl & Scale-Line
 */
.c4g-control-container-bottom-left-sub,
.ol-scale-line {
  background: var(--main-color);
}
.ol-scale-line-inner {
  border-color: var(--font-color);
  color: var(--font-color);
}
.c4g-control-container-bottom-left-sub {
  color: var(--font-color);
}


/*
 *  Portside & Starboard
 */
.c4g-portside-container,
.c4g-starboard-container {
  background-color: var(--shadow-color);
}
.c4g-portside-headline,
.c4g-starboard-headline {
  color: var(--font-color);
}
.c4g-starboard-headline-link{
  color: var(--main-color);
}
.c4g-portside-top-toolbar {
  border-color: var(--font-color);
}
.c4g-editor-draw-options,
.c4g-starboard-content-container .contentHeadline,
.c4g-portside-content-container .contentHeadline {
  border-color: var(--main-color);
  color: var(--main-color);
}
.c4g-portside-content-container,
.c4g-starboard-content-container {
  background: var(--font-color);
}
.c4g-portside-container button,
.c4g-starboard-container button {
  color: var(--font-color);
  border-color: var(--shadow-color);
  background-color: var(--main-color);
}
.c4g-starboard-titlebar .c4g-starboard-buttonbar button,
.c4g-portside-titlebar .c4g-portside-buttonbar button {
  color: var(--main-color);
  border-color: var(--shadow-color);
  background-color: var(--font-color);
}
.c4g-portside-container button:focus,
.c4g-portside-container button:hover,
.c4g-starboard-container button:focus,
.c4g-starboard-container button:hover {
  color: var(--shadow-color);
  background-color: var(--main-color);
}
.c4g-portside-container button[title]:after,
.c4g-starboard-container button[title]:after {
  color: var(--font-color);
  border-color: var(--font-color);
  background-color: transparent;
}
.c4g-portside-container .c4g_brick_dialog input {
  color: var(--main-color);
}

button.c4g-draw-trigger {
  background-color: transparent;
  border: 1px solid transparent;
}
button.c4g-draw-trigger:focus,
button.c4g-draw-trigger:hover {
  background-color: var(--font-color);
  border-color: var(--main-color);
}
button.c4g-draw-trigger.c4g-active {
  background: var(--main-color);
  border-radius: 0;
}

.c4g-editor-draw-options,
.c4g-portside-content-container .contentHeadline,
.c4g-starboard-content-container .contentHeadline {
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: var(--font-color);
}
.c4g-starboard-content-container .contentHeadline a {
    color: inherit;
    border-color: inherit;
}
.c4g-portside-container .contentHeadline button:hover {
  background-color: var(--main-color);
}
.c4g-portside-content-container p,
.c4g-starboard-content-container p {
  color: var(--main-color);
}
.c4g-content-select input ,.c4g-portside-top-toolbar select, .c4g-portside-top-toolbar button {
  color: var(--font-color);
  border-color: var(--font-color);
  background-color: var(--shadow-color);
}
.c4g-content-select input:hover {
  background-color: var(--font-color);
}
.c4g-content-select input:focus {
  border-color: var(--main-color);
  background-color: var(--font-color);
}

.c4g-portside-statusbar,
.c4g-starboard-statusbar {
  border-color: var(--main-color);
  background-color: transparent;
  color: transparent;
}

.c4g-portside-viewtriggerbar button.c4g-active,
.c4g-starboard-viewtriggerbar button.c4g-active {
  color: var(--main-color);
  background-color: var(--font-color);
}

.c4g-layertree a,
.c4g-layertree span,
.c4g-baselayertree a,
.c4g-baselayertree span {
  color: var(--main-color);
}
.c4g-baselayertree a.c4g-active,
.c4g-layertree a:hover,
.c4g-baselayertree a:hover {
  background-color: var(--font-color);
}
.c4g-layertree a:after,
.c4g-baselayertree a:before {
  border-color: var(--main-color);
}
.c4g-layertree span:hover {
  color: var(--shadow-color);
}
.c4g-starboard-filter-match > a {
  color: var(--main-color);
}

/*
 * Router
 */
.c4g-router-input-wrapper {
  color: var(--font-color);
}
.c4g-router-input-wrapper > input {
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: var(--font-color);
}
.c4g-router-input-wrapper > button,
.c4g-router-input-wrapper > button:hover {
  color: var(--main-color);
  border-color: var(--shadow-color);
  background-color: var(--font-color);
}
.c4g-router-input-wrapper > input:hover,
.c4g-router-input-wrapper > input:active,
.c4g-router-input-wrapper > input:focus {
  background-color: var(--font-color);
}
.c4g-router-instruction-table {
  color: var(--main-color);
}
.c4g-router-instruction-table td {
  border-color: rgba(0,60,136,.3);
}
.c4g-router-attribution-wrapper {
  color: var(--font-color);
}
.c4g-router-attribution-wrapper a {
  color: var(--font-color);
}
button.c4g-router-input-clear {
  color: var(--main-color);
}


/*
 *  Geosearch
 */
.c4g-geosearch input {
  color: var(--main-color);
  background-color: var(--shadow-color);
  /*border-color: var(--shadow-color);*/
}
/*.c4g-geosearch input:hover,*/
/*.c4g-geosearch input:focus {*/
  /*background-color: var(--font-color);*/
/*}*/

/*
 *  Overview-map
 */
.c4g-overviewmap .ol-overviewmap-box {
  border-color: var(--main-color);
}


/*
 *  Attribution
 */
.ol-attribution ul {
  color: var(--font-color);
}
.ol-attribution a {
  color: var(--font-color);
  text-decoration: none;
}
.ol-attribution:not(.ol-collapsed) {
  background: var(--main-color);
}

/*
 * Permalink
 */
.c4g-permalink-popup input {
  color: var(--font-color);
  background-color: var(--main-color);
}
.c4g-permalink-popup input:hover,
.c4g-permalink-popup input:focus {
  background-color: var(--main-color);
}

/*
 *  Popup
 */
div.c4g-tooltip-popup,
div.c4g-active.c4g-popup-wrapper {
  color: inherit;
  background-color: var(--font-color);
  border-color: var(--font-color);

  -webkit-filter: drop-shadow(0 1px 4px var(--main-color));
  filter: drop-shadow(0 1px 4px var(--main-color));
}
div.c4g-tooltip-popup:before,
div.c4g-popup-wrapper:before {
  border-top-color: var(--font-color);
}
div.c4g-horizontal.c4g-tooltip-popup:before {
  border-top-color: transparent;
  border-right-color: var(--font-color);
}

button.c4g-popup-close {
  color: var(--main-color);
  background-color: transparent;
}
button.c4g-popup-close:hover {
  color: var(--font-color);
  background-color: transparent;
}
button.c4g-popup-route-from,
button.c4g-popup-route-to {
    color: var(--main-color);
    background-color: var(--font-color);
    border-color: var(--font-color);
}
button.c4g-popup-route-from:hover,
button.c4g-popup-route-to:hover {
    background-color: var(--font-color);
}

/*
 * Panel
 */
.c4g-top-panel-container {
  background: var(--main-color);
}

.c4g-panel-button {
  background-color: var(--main-color);
}

.c4g-panel-content-wrapper {
  background: var(--main-color);
  color: var(--font-color);
}

.c4g-panel-slidebutton {
  background-color: var(--main-color);
}