/* general stuff */
.c4g-animation-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}
.c4g-animation-spin-pulse {
  -webkit-animation: icon-spin 1s infinite steps(8);
  animation: icon-spin 1s infinite steps(8);
}
@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

button,
button span,
input,
.c4g-overviewmap .ol-overviewmap,
.c4g-overviewmap .ol-overviewmap-map,
.c4g-portside-control,
.c4g-portside-container,
.c4g-starboard-control,
.c4g-starboard-container,
.c4g-starboard-containerelement-titlebar,
.c4g-starboard-containerelement-titlebar span,
.c4g-control-container-top-left,
.c4g-control-container-top-right,
.c4g-control-container-bottom-right,
.c4g-control-container-bottom-left,
.c4g-permalink-popup {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all 0.5s;

}

.ol-overviewmap-box,
.c4g-layertree a,
.c4g-layertree ul,
.c4g-layertree span,
.c4g-baselayertree a {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.c4g-layertree .c4g-open > ul {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.c4g-portside-viewtriggerbar > button {
  -webkit-transition: background .5s, color .5s, text-shadow .5s;
  -o-transition: background .5s, color .5s, text-shadow .5s;
  transition: background .5s, color .5s, text-shadow .5s;
}