

/*
 *  full-screen fixes
 *  - cannot be grouped
 */
.mod_c4g_maps > div:fullscreen {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}
.mod_c4g_maps > div:-ms-fullscreen {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}
.mod_c4g_maps > div:-moz-full-screen {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}
.mod_c4g_maps > div:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

/*
 *  Z-Indexes
 */


/*
 *  Controls
 */

/*
 *  Control-container
 */
.c4g-control-container-top-left {
  position: absolute;
  top: .2em;
  left: 0;
  width: var(--button-size-pixel);
  height: 100%;
  max-height: calc(var(--map-height) - .4em);
  padding-right: .4em;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotateY(180deg);
}

div.c4g-control-container-top-left > div {
   width: var(--button-size-pixel);
   margin-right: .2em;
}

div.c4g-control-container-top-left > div.c4g-external {
  display: none;
}

.c4g-control-container-top-left::-webkit-scrollbar{
 width: .2em;
}

.c4g-control-container-top-left > div:not(:last-child) {
  margin-bottom: 4px;
}

.c4g-control-container-bottom-left-sub div {
  display: block;
  white-space: normal;
}

.c4g-control-container-top-right {
  position: absolute;
  top: .2em;
  /* do not change "right"-value! */
  right: 0;
  margin-right: .2em;
  max-width: 720px;
}

.c4g-control-container-bottom-right {
  position: absolute;
  bottom: .2em;
  text-align: right;
  /* do not change "right"-value! */
  right: 0;
  margin-right: 0px;
  margin-left: 48px;
}

.c4g-control-container-bottom-right li {
  display: block;
}


.c4g-control-container-top-right .ol-control {
  float: right;
  clear: both;
}

.c4g-control-container-bottom-right > div {
  display: block;
  margin-left: 48px;
  vertical-align: bottom;
}

/*
 *  General classes
 */
.c4g-hide {
  display: none !important;
}


/*
 * Touch corrections
 */
.ol-touch .ol-control button:after {
/* Hide tooltips when in touch mode*/
  display: none;
}

/*
 *  GeoSearch
 */


.c4g-geosearch.c4g-close .c4g-geosearch-wrapper {
  display: none;
}

.c4g-geosearch #resultcontainer {
  width: calc(100% - 50px);
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
}

.c4g-geosearch-results.c4g-close {
  display: none;
}

/*
 *  Overview-map
 */

.ol-overviewmap-map canvas {
  right: 0;
  margin: auto;
}

.ol-uncollapsible > button {
  display: none !important;
}
.c4g-overviewmap, .ol-overviewmap {
  z-index: 91;
}
.c4g-overviewmap > button {
  z-index: 91;
}
.c4g-overviewmap .ol-overviewmap {
  overflow: hidden;
  width: 250px;
  height: 143px;
  background-color: transparent !important;
}
.c4g-overviewmap.c4g-close .ol-overviewmap {
  width: 0;
  height: 0;
}
.ol-overviewmap-map {
  height: 143px;
}
.c4g-overviewmap.c4g-close .ol-overviewmap-map {
  opacity: 0;
}
.c4g-overviewmap span.c4g-icon:before {
  content: "O";
}
.c4g-overviewmap-container.c4g-close {
  right: -100%;
}
.ol-overviewmap-box {
  cursor: pointer;
  border: 1px solid;
}
/*------------__*/

.c4g-control-container-top-left, .c4g-control-container-bottom-left {
  z-index: 90;
}


li.c4g-close ul {
  display: none;
}


.c4g-starboard-bottom-toolbar .c4g-open {
  position: fixed;
  transition: all 0.5s;
}

.c4g-starboard-statusbar .c4g-open {
  position: fixed;
  transition: all 0.5s;
}

/*
 * Zoom buttons
 */

.ol-zoom-with-extent button,
.ol-zoom-with-home button,
.ol-zoom-with-position button/*,
.ol-zoom-with-favorite*/ {
  display: block;
}
button.ol-zoom-in:before {
  content: "+";
}

button.ol-zoom-out:before {
  content: "-";
}

button.ol-zoom-extent:before,
button.ol-zoom-home:before,
button.ol-zoom-position:before{
  content: "--";
}


/*
 * Popups
 */
.ol-selectable  .c4g-popup-wrapper {
  border: 1px solid;
  border-radius: 5px;
  position: relative;
  display: none;
  z-index: 30;
  line-height: 1.5em;
}

div.c4g-active.c4g-popup-wrapper *:last-child {
  margin-bottom: .2em;
}

.c4g-popup-wrapper.c4g-active {
  display: block;
}

.c4g-popup-wrapper .c4g-popup-close {
  position: absolute;
  right: .4em;
  top: .4em;
}
/*Todo für die Höhenberechnung muss die eigentliche Karte und nicht der Bildschirm verwendet werden.*/

.c4g-tooltip-popup {
  z-index: 20;
}

.c4g_popup_header_featurename,
.c4g-popup-content .name {
  font-size: 1.4em;
}

.c4g_popup_header_featuretype {
  font-weight: bold;
  font-size: 1.2em;
}

.c4g-popup-content li {
  list-style-type: none;
}

/*
 * Editor
 */

button.c4g-editor-view-trigger-select:before {
  content: "S";
}
button.c4g-editor-view-trigger-draw-point:before {
  content: ".";
}
button.c4g-editor-view-trigger-draw-freehand:before {
  content: "Z";
}
button.c4g-editor-view-trigger-draw-line:before {
  content: "|";
}
button.c4g-editor-view-trigger-draw-polygon:before {
  content: "P";
}

.c4g-draw-content-point select {
  border-radius: 3px;
  box-sizing: border-box;
  font-size: inherit;
  padding: 4px;
  width: 100%;
}

/*
 * Draw stuff
 */
.c4g-draw-content-point button.c4g-draw-trigger,
.c4g-draw-content-freehand button.c4g-draw-trigger,
.c4g-draw-content-line button.c4g-draw-trigger,
.c4g-draw-content-polygon button.c4g-draw-trigger,
.c4g-draw-content-circle button.c4g-draw-trigger {
  width: auto;
  height: auto;
}
/*
 *  Measuretools
 */

button.c4g-measuretools-view-trigger-select:before {
  content: "S";
}
button.c4g-measuretools-view-trigger-draw-line:before {
  content: "|";
}
button.c4g-measuretools-view-trigger-draw-polygon:before {
  content: "P";
}
button.c4g-measuretools-view-trigger-draw-circle:before {
  content: "C";
}

/*
 * Infobutton
 */


/*
 * AdditionalPanel
 */


/*
 * Accountbutton
 */


/*
 * Bottom left controls
 */
.c4g-zoom-level {
  min-width: 5em;
  padding-right: 5px;
}
.ol-scale-line {
  display: block;
  margin-left: 48px;
}
.c4g-control-container-bottom-left-sub {
  margin-left: 48px;
}
.ol-scale-line-inner {
  font-size: 10px;
  text-align: center;

  border: 1px solid;
  border-top: none;
}
.c4g-zoom-level:before {
  content: ' Zoom: ';
}
.ol-mouse-position:before {
  content: ' Lat/Lon: ';
}

/*
 * Bottom right controls
 */

/*
 * Attribution
 */
.c4g-attribution-logo img {
  width: 67px;
  display: inline-block;
}
div.ol-attribution-ext-div.ol-control.ol-uncollapsible {
  bottom: inherit;
  right: inherit;
  height: auto;
  line-height: inherit;
  border-radius: 4px 0 0;
}

.ol-attribution > ul {
  text-align: left;
  vertical-align: top;
}
.ol-attribution {
  text-align: right;
}
.ol-attribution ul {

  height:auto;
  font-size: 10px;
  line-height: 14px;
  white-space: normal;
  background: white;
  color: black;
}

.ol-attribution:not(.ol-uncollapsible) ul {
  display: inline-block;
  margin: 0;
  padding: 0 .4em;
  min-height: var(--button-size-pixel);
  max-width: calc(100% - var(--button-size-pixel) - .8em);
}

.ol-attribution:not(.ol-collapsed) button {
  float: left;
  vertical-align: top;
}

.ol-attribution.ol-uncollapsible ul {
  float: none;
  margin: 0;
  padding: .2em .6em .2em .2em;
}



.ol-attribution ul a{
  color: black!important;
}

.ol-attribution li {
  display: block;
  list-style: none;
  line-height: inherit;
}
.ol-attribution li a {
}
.ol-attribution li:not(:last-child):after {
  content: " ";
}
.ol-attribution img {
  margin-top: -.2em;
  margin-bottom: -.2em;
  max-height: 1.6em;
}
.ol-attribution.ol-collapsed ul,
.ol-attribution:not(.ol-collapsed) button:hover:after {
  display: none;
}

.ol-attribution.ol-uncollapsible button {
  display: none;
}
.ol-attribution button:before {
  content: "A";
}

/*
 * Permalink
 */


@media print {
    .ol-control {
    display:none}
}


/*default magnific popup size*/
.mfp-iframe-holder .mfp-content {
  width: 100%;
  height: 100%;
  max-width: 95%;
  max-height: 95%;
}

/*input[type=range]::-ms-fill-lower {*/
/*  background: rgba(0,60,136,.7);*/
/*  border: 0px solid rgba(0,60,136,.7);*/
/*  border-radius: 2px;*/
/*  box-shadow: 1px 1px 1px rgba(0,60,136,.7);*/
/*}*/
/*input[type=range]::-ms-fill-upper {*/
/*  background: #103A5D;*/
/*  border: 0px solid rgba(0,60,136,.7);*/
/*  border-radius: 2px;*/
/*  box-shadow: 1px 1px 1px rgba(0,60,136,.7);*/
/*}*/
/*input[type=range]::-ms-thumb {*/
/*  margin-top: 1px;*/
/*  box-shadow: 0px 0px 0px rgba(0,60,136,.7);*/
/*  border: 1px solid rgba(0,60,136,.7);*/
/*  height: 26px;*/
/*  width: 26px;*/
/*  border-radius: 15px;*/
/*  background: rgba(0,60,136,.7);*/
/*  cursor: pointer;*/
/*}*/
/*input[type=range]:focus::-ms-fill-lower {*/
/*  background: rgba(0,60,136,.7);*/
/*}*/
/*input[type=range]:focus::-ms-fill-upper {*/
/*  background: rgba(0,60,136,.7);*/
/*}*/

/*---------------------------.c4g-sideboard------------------------*/

.c4g-sideboard  {
  position: absolute;
  right: 0;
  top: .2em;
  max-height: calc(var(--map-height) - .4em);
  height: 100%;
  min-width: 240px;
  z-index: 91;
  transition: .5s;
}
.c4g-sideboard:not(.c4g-measuretools-container):not(.c4g-popup-container)  {
  max-width: 42%;
}

.c4g-sideboard.c4g-measuretools-container  {
  max-width: 240px;
}

.c4g-measuretools-content input {
  max-width: calc(100% - .4em);
}

.c4g-sideboard.c4g-popup-container {
  max-width: 100%;
}

.c4g-sideboard.c4g-close {
  right: -100%;
}

.c4g-sideboard > div[class*=wrapper] {
  position: relative;
  height: 100%;
  font-size: 16px;
  text-align: left;
}

/*--------------------header--------------*/

.c4g-sideboard > div > div[class*=header] {
  line-height: calc(32px + .4em);
  height: calc(32px + .4em);
  margin: 0;
}

.c4g-sideboard > div > div[class*=header] span {
  display: block;
  width: calc(100% - 1.2em - 32px);
  padding: 0 .4em;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.c4g-sideboard > div > div[class*=header] button[class*=close] {
  width: 32px;
  height: 32px;
  position: absolute;
  right: .2em;
  top: .2em;
  margin: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.c4g-sideboard > div[class*=wrapper] > div[class*=header] + div[class*=content] {
  max-height: calc((var(--map-height) - .4em) - (32px + .4em) - .4em);
}

/*---------------------------------*/
/*----------switcher---------------*/

.c4g-sideboard > div > div[class*=switcher] {
  line-height: calc(32px + .4em);
  height: calc(32px + .4em);
  padding: 0 .4em;
  margin: 0;
}

.c4g-sideboard > div > div[class*=switcher] > div:first-child {
  float: right;
}

.c4g-sideboard > div > div[class*=switcher] button {
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  vertical-align: top;
}

.c4g-sideboard > div > div[class*=switcher] button:not(.c4g-active){
  cursor: pointer;
}

.c4g-sideboard > div > div[class*=switcher] button:not(:last-child){
  margin: 0 4px 0 0;
}

.c4g-sideboard > div > div[class*=switcher] button:last-child {
  margin-right: .2em
}

.c4g-sideboard > div[class*=wrapper] > div[class*=header] + div[class*=switcher] + div[class*=content] {
  max-height: calc((var(--map-height) - .4em) - ((32px + .4em) * 2) - .4em);
}

/*----------------------------*/
/*-----------filter-----------*/

.c4g-geosearch-form, .c4g-sideboard > div > div[class*=filter] {
  line-height: calc(32px + .4em);
  height: calc(32px + .4em);
  padding: 0 .4em;
  margin: 0;
}

.c4g-geosearch-form input, .c4g-sideboard > div > div[class*=filter] input {
  width: calc(100% - .2em - 35px);
  line-height: 32px;
  height: 32px;
  padding: 0 0 0 .2em;
  vertical-align: top;
  border: none;
  outline: none;
}

.c4g-sideboard > div > div[class*=filter].without-button:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  width: 35px;
  height: 32px;
  text-align: center;
}

.c4g-geosearch-form input, .c4g-sideboard > div > div[class*=filter] input::placeholder{
  padding-left: .2em;
}

.c4g-geosearch-form input, .c4g-sideboard > div > div[class*=filter] input:focus::placeholder{
  color: transparent;
}


.c4g-sideboard:not(.c4g-external) > div[class*=wrapper] > div[class*=header] + div[class*=filter] + div[class*=content] {
  max-height: calc((var(--map-height) - .4em) - ((32px + .4em) * 2) - .4em);
}

/*----------------------------*/
/*-----------content----------*/

.c4g-sideboard > div > div[class*=content]{
  padding: 0 .4em .4em;
  overflow-y: auto;
  overflow-x: hidden;
}

.c4g-sideboard > div > div[class*=content] .contentHeadline {
  font-size: 20px;
  padding: .4em 0;
}

.c4g-sideboard:not(.c4g-popup-container):not(.c4g-starboard-container) ul {
  margin: 0;
  padding: 0;
}

/*----lokationsstyles in starboard----*/

span.c4g-starboard-locstyle-star:after {
  content: "\f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 13px;
  position: absolute;
  left: 10px;
  color: var(--var-color);
}

span.c4g-starboard-locstyle-star:before {
  content: "\f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 100;
  font-size: 18px;
  color: var(--var-bordercolor);
}

span.c4g-starboard-locstyle-x:before {
  content: "X";
  font-family: 'Arial';
  font-size: 18px;
  color: var(--var-bordercolor);
}

span.c4g-starboard-locstyle-point:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid var(--var-bordercolor);
  background-color: var(--var-color);
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 1.5px;
}
span.c4g-starboard-locstyle-square:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid var(--var-bordercolor);
  background-color: var(--var-color);
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 1.5px;
}


span.c4g-starboard-locstyle-cross {
  transform: rotate(45deg);
  text-align:center;
}

span.c4g-starboard-locstyle-cross:before {
  content: "\f067";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: inherit;
  color: var(--var-bordercolor);
}

span.c4g-starboard-locstyle-triangle:before {
  content: "";
  position: absolute;
  height: 0;
  border-top: 0px solid transparent;
  border-left: 9.5px solid transparent;
  border-right: 9.5px solid transparent;
  border-bottom: 20px solid var(--var-color);
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 1.5px;
}

/*-------------------------*/



.c4g-sideboard:not(.c4g-popup-container) ul li {
  list-style-type: none;
}

.c4g-sideboard > div > div[class*=content] input:not([type=range]) {
  height: 28px;
  padding: 0 .2em;
  border: none;
  outline: none;
  text-overflow: ellipsis;
}

.c4g-permalink-content textarea {
  display: inline-block;
  max-width: calc(100% - .8em - (32px * 2));
  min-height: calc(var(--map-height) - .8em - 32px - .4em - .4em - .4em);
  outline: none;
  background: none;
  border: none;

}

.c4g-sideboard > div > div[class*=content] input ~ button {
  height: 28px;
  width: 32px;
  border: none;
  outline: none;
  vertical-align: top;
  cursor: pointer;
}

.c4g-sideboard button::-moz-focus-inner {
  border: none;
  padding: 0;
  margin: 0;
}

.c4g-sideboard > div > div[class*=content] input ~ button {
  margin-left: .2em;
}

.c4g-sideboard > div > div[class*=content] textarea ~ button {
  height: 28px;
  width: 32px;
  border: none;
  outline: none;
  vertical-align: top;
  cursor: pointer;
}

.c4g-sideboard > div > div[class*=content] textarea ~ button {
  margin-left: .2em;
}

.c4g-sideboard > div > div[class*=content] input[type=text] {
  font-family: 'Font Awesome 5 Free', arial!important;
  font-weight: 900;
}

.c4g-sideboard > div > div[class*=content]::-webkit-scrollbar{
  width: .2em;
}

.c4g-sideboard > div[class*=wrapper] > div[class*=header] + div[class*=switcher] + div[class*=filter] + div[class*=content] {
  max-height: calc((var(--map-height) - .4em) - ((32px + .4em) * 3) - .4em);
}

/*------filter in content-------*/

.c4g-sideboard > div > div[class*=content] div[class*=filter] {
  position: relative;
  height: 28px;
  line-height: 28px;
}

.c4g-sideboard > div > div[class*=content] div[class*=filter] input {
  width: calc(100% - .4em - 35px);
}

.c4g-sideboard > div > div[class*=content] div[class*=filter].without-button:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  width: 35px;
  height: 28px;
  text-align: center;
}

.c4g-sideboard > div > div[class*=content] div[class*=filter] input::placeholder{
  padding-left: .2em;
}

.c4g-sideboard > div > div[class*=content] div[class*=filter] input:focus::placeholder{
  color: transparent;
}

/*-------------------*/

/*-------------------*/

/*----------baselayertree-----------------*/

.c4g-baselayertree-content li.with-image > a {
  position: relative;
  background: none;
  display: block;
  cursor: pointer;
}



.c4g-baselayertree-content li.with-image > a.c4g-active{
  cursor: not-allowed;
}


.c4g-baselayertree-content li.with-image > a  span{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 60%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px calc(.6em + 16px);
}

ul.c4g-overlays input {
  float: right;
  margin-right: .4em;
}

.c4g-baselayertree-content li:not(:last-child){
  padding-bottom: .2em;
}

.c4g-baselayertree-content li.with-image > a:not(.c4g-active)  span{
  opacity: .7;
  transition: .3s;
}

.c4g-sideboard .c4g-baselayertree-content li.with-image > a img {
  /*max-width: 360px;
  width: 100%;*/
  width: 30px;
  min-width: 100%;
}

.c4g-baselayertree-content li.with-image > a:not(.c4g-active) img{
  filter: blur(2px);
  transition: .3s;
}

.c4g-baselayertree-content li.with-image:hover a img {
  filter: blur(0px);
}

.c4g-baselayertree-content li.with-image:hover a span{
  opacity: 1;
}

ul.c4g-overlays span {
  display: inline-block;
  max-width: calc(100% - .2em - 15px - (100px - 1.75em));
  text-overflow: ellipsis;
  overflow-x: hidden;
  padding-left: 15px;
}

ul.c4g-overlays input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/*----------------*/

/*----Geosearch-----*/

button.c4g-geosearch-start {
  height: 32px;
  line-height: 32px;
  width: 35px;
  font-size: 20px;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* Results*/


.c4g-geosearch-results-content .searchResultButton {
  overflow: hidden;
  width: 100%;
  text-align: left;
  line-height: 30px;
  height: 30px;
  padding: 0 .2em;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .1s;
}

.c4g-geosearch-results-content .searchResultButton:hover:before, .c4g-geosearch-results-content .searchResultButton.c4g-active:before { margin-left: 0; }

.c4g-geosearch-results-content .searchResultButton:hover, .c4g-geosearch-results-content .searchResultButton.c4g-active { padding-left: .4em; }

.c4g-geosearch-results-content .searchResultButton:before{
  content: "\f35a";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  margin-left: -20px;
  margin-right: .4em;
  display: inline;
  top: 2px;
  transition: .3s;
}

/*----------------*/

/*-----Popup------*/

.c4g-sideboard.c4g-popup-container img{
  max-height: calc((var(--map-height) - .4em) - (32px + .4em) - .4em);
}
/*----------------*/

/*---Starboard-----*/

.c4g-layertree > ul {
  margin: .4em 0 0 0 ;
}

.c4g-layertree ul {
  padding: 0;
}

/*----------------*/

/*------------external-----------*/

.c4g-external > div > div[class*=header] button[class*=close] {
  display: none;
}
.c4g-external > div > div[class*=header] {
  line-height: 2.4em;
  height: 2.4em;
  margin: 0;
}

.c4g-external > div > div[class*=header] span {
  display: block;
  font-size: 1.3em;
  padding: 0 .4em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.c4g-external:not(.c4g-popup-container):not(.c4g-starboard-container) ul {
  margin: 0;
  padding: 0;
}

.c4g-external input {
  padding: 0 .2em;
  text-overflow: ellipsis;
}

.c4g-external button:not(.c4g-active) {
  cursor: pointer;
}

.c4g-external > div > div[class*=content] input[type=text] {
  font-family: 'Font Awesome 5 Free', arial!important;
  font-weight: 900;
}

.c4g-external > div > div[class*=content]{
  padding: 0 .4em .4em;
  overflow-y: auto;
  overflow-x: hidden;
}

.c4g-external > div > div[class*=content] .contentHeadline {
  font-size: 1.3em;
}
/*----------------external-filter in header--------------_*/

.c4g-external > div > div[class*=filter] {
  line-height: calc(32px + .4em);
  height: calc(32px + .4em);
  padding: 0 .4em;
  margin: 0;
}

.c4g-external > div > div[class*=filter] input {
  max-width: calc(100% - .2em - 35px);
  line-height: 32px;
  height: 32px;
  padding: 0 0 0 .2em;
  vertical-align: top;
  border: none;
  outline: none;
}



.c4g-external > div > div[class*=filter].without-button:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  width: 35px;
  height: 32px;
  text-align: center;
}

.c4g-external > div > div[class*=filter] input::placeholder{
  padding-left: .2em;
}

.c4g-external > div > div[class*=filter] input:focus::placeholder{
  color: transparent;
}

/*-------------------*/

/*--------------------external-content------------------*/

/*------filter in content-------*/

.c4g-external > div > div[class*=content] div[class*=filter] {
  position: relative;
  height: 28px;
  line-height: 28px;
}

.c4g-external > div > div[class*=content] div[class*=filter] input {
  max-width: calc(100% - .4em - 35px);
}

.c4g-external > div > div[class*=content] div[class*=filter].without-button:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  width: 35px;
  height: 28px;
  text-align: center;
}

.c4g-sideboard > div > div[class*=content] div[class*=filter] input::placeholder{
  padding-left: .2em;
}

.c4g-sideboard > div > div[class*=content] div[class*=filter] input:focus::placeholder{
  color: transparent;
}

/*-------------------*/

/*------external-permalink-----*/

.c4g-external .c4g-permalink-wrapper {
  padding: .2em;
}

.c4g-external-permalink-container textarea {
  width: 100%;
  border: none;
  outline: none;
  background: none;
}

.c4g-external .c4g-permalink-content input {
  height: 20px;
  border: none;
  outline: none;
}

.c4g-external .c4g-permalink-content button {
  width: 32px;
  height: 20px;
  border: none;
  outline: none;
  vertical-align: top;
  margin-left: .2em;
}
/*----------------*/

/*-----------baselayertree------------*/

.c4g-external  .c4g-baselayertree-content > ul > li {
  max-width: 300px;
  display: inline-block;
}

/*----------------*/
/*----------------*/

/*-------external-filter---------*/

.c4g-feature-filter {
  height: 45px;
}

ul.c4g-feature-filter-list {
  position: absolute;
  line-height: 45px;
  padding: 0;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  z-index: 92;
}

ul.c4g-feature-filter-list.c4g-overflowed {
  width: calc(100% - 90px);
  margin: 0 0 0 45px;
}

ul.c4g-feature-filter-list.c4g-not-overflowed {
  width: 100%;
  margin: 0;
}

ul.c4g-feature-filter-list li.c4g-item-checked>strong {
  margin: 0 60px 0 10px;
}

ul.c4g-feature-filter-list li span.sum {
  font-size: .5em;
  vertical-align: top;
  font-weight: bold;
  margin-left: -55px;
  padding: 0 5px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/*-------Icons for the header------*/

ul.c4g-feature-filter-list li > strong > span{
  position: relative;
  width: 45px;
  height: 40px;
  text-align: center;
  float: left;
  transition: 0.3s;
}

ul.c4g-feature-filter-list li > strong.c4g-open > span {
  transform: rotate(90deg);
}

ul.c4g-feature-filter-list li > strong > span:after{
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

/*------------------*/



.c4g-feature-filter-list > li {
  display: inline-block;
}

ul.c4g-feature-filter-list li {
  vertical-align: top;
  margin: 0 10px;
  padding: 0 ;
}

div#filter_block input {
  width: max-content;
  margin-right: 10px;
}

.c4g-feature-filter input[type="radio"] {
  width: max-content;
  margin: 20px;
}
.c4g-feature-filter li form {
  background-color: var(--main-color);
  color: var(--font-color);
  z-index: 91;
  padding-left: .4em;
}

.c4g-filter-form-element{
  text-align: left;
}

.c4g-feature-filter strong::selection,
.c4g-feature-filter label::selection {
  background: none;
}
.c4g-feature-filter strong:hover,
.c4g-feature-filter label:hover {
  cursor: pointer;
}

ul.c4g-feature-filter-list::-webkit-scrollbar {
  height: 0px;
}

/*---------------*/
.c4g-graticule {
  /*z-index: 1;
}*/
